body {
  background: #f1f1f1;
}

//variables
$white: #fff;
$light-grey: #f1f1f1;
$orange: #ff6600;
$orange-2: #ff66005e;
$dark-grey: #212121;
$dark-grey-1: #424242;
$dark-grey-2: #656565;
$dark-grey-3: #858585;
$dark-grey-4: #515151;

.full-size{  
  height: 100%;
  width: 100%;
}

.full-width {
  width: 100%;
}

.input-field{
  margin: 1rem 1rem 0 1rem;
}

.button {
  margin-top: 40px;
  background: $orange;
  margin-bottom: 20px;
  color: $white
}