<div *ngIf="taskDto" fxLayout="row" fxLayoutAlign="center">
  <h2>{{taskDto.name}}</h2>
</div>
<div *ngIf="taskDto" fxLayout="column" fxLayoutAlign="center">
  <h4>{{taskDto.description}}</h4>
  <h5>Felelős: {{taskDto.responsible}}</h5>
</div>
<mat-card-content *ngIf="taskDto">
  <form [formGroup]="commentForm" (ngSubmit)="onSubmit()">
    <div fxLayout="column">
      <div class="comments">
        <div *ngFor="let comment of taskDto.comments">
          {{ comment.content }} <span>/{{ comment.author }}/</span>
        </div>
      </div>
      <div fxLayout="column">
        <mat-form-field appearance="fill">
          <mat-label>Hozzászólás</mat-label>

          <textarea formControlName="comment" matInput placeholder="Mit gondolsz erről a feladatról?"></textarea>
          <mat-error *ngIf="f.comment.errors && f.comment.errors.required">Mező kitöltése kötelező </mat-error>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutAlign="center"></div>
      <button mat-flat-button>Hozzászólás</button>
      <div fxLayout="row" fxLayoutAlign="space-around">
        <button *ngIf="!loading" [disabled]="loading" mat-flat-button (click)="delete()" color="primary" type="button">Törlés</button>
        <button *ngIf="!loading" [disabled]="loading" mat-flat-button (click)="complete()" color="primary" type="button">Kész</button>
      </div>
    </div>
  </form>
</mat-card-content>
