@import 'bulma/css/bulma.min.css';
@import '../../../app.component.scss';

h2 {
  font-size: 1.3rem;
}

h4 {
  word-wrap: break-word;
  text-align:center;
  width: 25vw;
}
.mat-card-content {
  min-height: 40vh;
  height: auto;
  width: 25vw;
  .title-input {
    font-size: 1.2rem;
    padding: 2rem 0;
  }
}

.side-buffer {
  margin-right: 1rem;
  margin-bottom: 0.5rem;
}

.mat-card-content {
  div {
    padding: 0.5rem;
  }
  button {
    background-color: $orange;
  }
}

::ng-deep .mat-form-field.mat-focused {
  .mat-form-field-label {
    color: $orange;
  }
  .mat-form-field-ripple {
    background-color: $orange;
  }
  .mat-form-field-required-marker {
    color: $orange;
  }
  .mat-input-element {
    color: $white;
  }
}
