body{
    background: #f1f1f1;
}

//variables
$white: #fff;
$light-grey: #f1f1f1;
$orange: #ff6600;
$orange-2: #ff66005e;
$dark-grey: #212121;
$dark-grey-1: #424242;
$dark-grey-2: #656565;
$dark-grey-3: #858585;
$dark-grey-4: #515151;

