<div fxLayout="row" fxLayoutAlign="center">
  <h2>Új feladat hozzáadása</h2>
</div>
<mat-card-content *ngIf="wedding">
  <form [formGroup]="subTask" (ngSubmit)="onSubmit()">
    <div fxLayout="column">
      <!-- <div fxLayout="column">      
        <button mat-raised-button (click)="fileInput.click()" type="button">Choose File</button>
        <input hidden type="file" #fileInput (change)="onFileChange($event)" />
      </div> -->

      <div fxLayout="column">
        <mat-form-field appearance="fill">
          <mat-label>Feladat neve</mat-label>
          <input matInput formControlName="name" />
          <mat-error *ngIf="f.name.errors && f.name.errors.required">Mező kitöltése kötelező  </mat-error>
        </mat-form-field>
      </div>

      <div fxLayout="column">
        <mat-form-field appearance="fill">
          <mat-label>Felelős</mat-label>
          <mat-select formControlName="responsible" >
            <mat-option [value]="wedding.bethrothedOne"> {{wedding.bethrothedOne}} </mat-option>
            <mat-option [value]="wedding.bethrothedTwo"> {{wedding.bethrothedTwo}} </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxLayout="column">
        <mat-form-field appearance="fill">

          <mat-label>Leírás</mat-label>

          <textarea formControlName="description" matInput placeholder="Feladat leírás"></textarea>
          <mat-error *ngIf="f.description.errors && f.description.errors.required">Mező kitöltése kötelező  </mat-error>
        </mat-form-field>
      </div>

      <div class="top-buffer-2" fxLayout="row" fxLayoutAlign="center">
        <button *ngIf="!loading" [disabled]="loading" mat-flat-button color="primary">Hozzáadás</button>
      </div>
    </div>
  </form>
</mat-card-content>
