@import "../../app.component.scss";

.container {
  display: flex;
  justify-content: center;
  // align-items: center;
  padding-top: 3rem;
  height: 100vh;
  width: 100%;
  background-color: $dark-grey;

  .login-card {
    width: 30rem;
    height: 32rem;
    background-color: rgba($color: $white, $alpha: 0.3);
    border-radius: 20px;
    .title {
      display: flex;
      justify-content: center;    
        img{
          width: 6rem;
          margin-top: 3rem;
        }  
    }
    
  }
  .form {
    display: flex;
    width: 100%;
    height: 80%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .login-button {
      margin-top: 40px;
      background: $dark-grey-3;
    }
  }
}

::ng-deep .mat-form-field.mat-focused {
    .mat-form-field-label {
        color: $orange;
    }
    .mat-form-field-ripple {
        background-color: $orange;
    }
    .mat-form-field-required-marker {
        color:$orange;
    }
    .mat-input-element {
        color: $white;
    }
}

