.cover-image {
  max-width: 20rem;
  max-height: 32rem;
}

.side-buffer {
  margin-right: 1rem;
  margin-bottom: 0.5rem;
}

.mat-elevation-z4 {
  margin-top: 70px;
  height: 700px;
}

.upload {
  margin-top: 15px;
}

.cover-image-contanier {
    min-width: 20rem;
    min-height: 32rem;
  }
