<div fxLayout="row" fxLayoutAlign="center">
  <h2>New caff</h2>
</div>
<mat-card-content>
  <form [formGroup]="newStoryForm" (ngSubmit)="onSubmit()">
    <div fxLayout="column">
      <div fxLayout="column">      
        <button mat-raised-button (click)="fileInput.click()" type="button">Choose File</button>
        <input hidden type="file" #fileInput (change)="onFileChange($event)" />
      </div>

      <div fxLayout="column">
        <mat-form-field appearance="fill">
          <mat-label>Title</mat-label>
          <input matInput formControlName="title" />
          <mat-error *ngIf="f.title.errors && f.title.errors.required">Title is required </mat-error>
        </mat-form-field>       
        <div>
          <button *ngFor="let selected of f.tags.value" (click)="deselect(selected)" mat-flat-button color="accent" class="side-buffer" type="button">{{ selected }}</button>
        </div>
        <p *ngIf="error" class="error-field">{{ error }}</p>
        <div class="top-buffer-2" fxLayout="row" fxLayoutAlign="center">
          <button *ngIf="!loading" [disabled]="loading" mat-flat-button color="primary">Create</button>
        </div>
      </div>
    </div>
  </form>
</mat-card-content>
