<div class="container">
  <div class="row">
    <h1>Vendégek meghívása</h1>
  </div>
  <div class="row" fxLayout="row" fxLayoutAlign="center center">
    <mat-card fxFlex="50">
      <div fxLayout="column">
        <mat-form-field class="input-field" fxLayout="column">
          <mat-label>Meghívólevél</mat-label>
          <textarea [(ngModel)]="emailContent" matInput placeholder="Meghívólevél"></textarea>
        </mat-form-field>
      </div>
    </mat-card>
  </div>
  <div *ngIf="currentGuests" class="full-width" fxLayout="column" fxLayoutAlign="start center">
    <mat-card *ngFor="let guest of currentGuests; let i = index" [ngClass]="guest.acceptedInvitation ? 'accepted' : ''">
      <mat-card-content fxLayout="row" fxLayoutAlign="start start">
        <div fxLayout="column" fxLayoutAlign="start start" fxFlex="65" class="description">
          <h3>{{ guest.name }}</h3>
          <h3>{{ guest.email }}</h3>
        </div>
        <div *ngIf="guest.acceptedInvitation" class="full-width" fxLayout="column" fxLayoutAlign="center center" fxFlexAlign="stretch" fxFlex="35">
          <button mat-button>
            <mat-icon>check</mat-icon>
          </button>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card *ngFor="let guest of guestForms.controls; let i = index">
      <ng-container [formGroup]="guest">
        <mat-card-content fxLayout="row" fxLayoutAlign="start start">
          <div fxLayout="column" fxLayoutAlign="start start" fxFlex="65">
            <mat-form-field class="full-width input-field" appearance="fill">
              <mat-label>Vendég neve</mat-label>
              <input matInput formControlName="name" />
              <mat-error *ngIf="f[i].controls.name.errors && f[i].controls.name.errors.required">Mező kitöltése kötelező
              </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width input-field" appearance="fill">
              <mat-label>Vendég email címe</mat-label>
              <input matInput formControlName="email" />
              <mat-error *ngIf="f[i].controls.email.errors && f[i].controls.email.errors.required">Mező kitöltése
                kötelező</mat-error>
            </mat-form-field>
          </div>
          <div class="full-width" fxLayout="column" fxLayoutAlign="center center" fxFlexAlign="stretch" fxFlex="35">
            <button mat-button (click)="delete(i)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </mat-card-content>
      </ng-container>
    </mat-card>
    <button mat-button class="button" (click)="invite()">Meghívások elküldése</button>
  </div>
</div>
<div class="button-container">
  <button (click)="addGuest()" mat-fab color="warn">
    <mat-icon>add</mat-icon>
  </button>
</div>