<div class="container">
  <mat-card class="login-card">
    <mat-card-title class="title">
      <img src="../../../assets/caff-icon-o.png" alt="icon" />
    </mat-card-title>
    <mat-card-subtitle class="title">
      <h1>Registration</h1>
    </mat-card-subtitle>
    <mat-card-content class="content">
      <form class="form">
        <mat-form-field class="full-width">
          <mat-label>Username</mat-label>
          <input matInput placeholder="Username" name="username" [(ngModel)]="registerDto.username" />
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Password</mat-label>
          <input matInput placeholder="Password" name="password" [(ngModel)]="registerDto.password" />
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Confirm password</mat-label>
          <input matInput placeholder="Password" name="confirmPassword" [(ngModel)]="registerDto.confirmPassword" />
        </mat-form-field>
        <mat-error *ngIf="errorMessage">
          Something wrong, please check the form.
        </mat-error>
        <mat-card-actions><button mat-button type="button" class="login-button" (click)="registration()">Registration</button></mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
</div>
